.navbar img {
    width: 50px;
    padding-right: 10px;
}

 main{
    margin: 0 auto;
    width: 80%;
 }

 section {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
 }

 .btn{
    border-radius: 40px;
    font-size: 11px;
 }

 .btn-outline-secondary{
   border-radius: 5px;
 }
 